// breaks points
$mqBreakPoints: (
  mobile: 992px,
  desktop: 993px,
);

@mixin mobile {
  @media (max-width: map-get($mqBreakPoints, "mobile")) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($mqBreakPoints, "desktop")) {
    @content;
  }
}

@mixin ff($name, $fw: "normal") {
  @if ($name == "primary" and $fw == "normal") {
    font-family: "GilroyLight", sans-serif;
  } @else if ($name == "primary" and $fw == "bold") {
    font-family: "GilroyExtraBold", sans-serif;
    font-weight: 700;
  } @else if ($name == "secondary" and $fw == "normal") {
    font-family: "CenturyGothic", serif;
  } @else if ($name == "secondary" and $fw == "bold") {
    font-family: "CenturyGothicBold", serif;
    font-weight: bold;
  }
}

.g-mobileOnly {
  @include desktop() {
    display: none;
  }
}

.g-desktopOnly {
  @include mobile() {
    display: none;
  }
}

.g-flash-padding-left {
  padding-left: 0;
}
.g-flash-padding-right {
  padding-right: 0;
}

.g-flash-padding-both {
  padding-left: 0;
  padding-right: 0;
}

/* Button */

.g-btn {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  @include desktop {
    max-width: 412px;
  }
  border: 3px solid $blue;
  @include ff("secondary", "bold");
  background-color: $white;

  text-align: center;
  padding: 10px 25px;
  border-radius: 50px;
  transition: background-color 0.2s;
  @include desktop() {
    font-size: 1.25em;
  }
  &:hover {
    background-color: $blue;
    color: $white;
  }
}
