html {
  scroll-behavior: smooth;
}
body {
  background: $whiteGrey;
  color: $grey;
  @include ff("primary");
  @include mobile {
    font-size: 14px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

/* Bootstrap Reset */
