body {
  background: $whiteGrey;
  color: $lightgrey;
  font-family: GilroyLight;
  font-size: 20px;
  @include mobile {
    font-size: 14px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Bootstrap Reset */
